<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/subStyles.css">

    <title>saved</title>
</head>
<body class="saved">
    <!--=============== NAV ===============-->
    <nav class="nav" id="nav">
        <div class="nav__menu container_until" id="nav-menu">
            <div class="nav__shape"></div>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
            
            <div class="nav__data">
                <div class="nav__mask">
                    <!-- Change your profile picture -->
                    <img src="" alt="" class="nav__img">
                </div>

                <span class="nav__greeting">Hi</span>
                <h1 class="nav__name">Username!</h1>
            </div>

            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">
                        <i class="ri-home-line"></i> Inicio 
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link active-link">
                        <i class="ri-bookmark-line"></i> Guardados
                    </a>
                </li>
                <li class="nav__item">
                    <a href="community.html" class="nav__link">
                        <i class="ri-group-line"></i> Comunidad
                    </a>
                </li>
                <li class="nav__item">
                    <a href="support.html" class="nav__link">
                        <i class="ri-heart-line"></i> Apoyame
                    </a>
                </li>
                <li class="nav__item">
                    <a href="settings.html" class="nav__link">
                        <i class="ri-settings-line"></i> Ajustes
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--=============== MAIN ===============-->
    <main class="main" id="main">
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="header__nav container_until">
                <a href="#" class="header__logo">
                    HI
                </a>

                <!-- Toggle button -->
                <div class="header__toggle" id="header-toggle">
                    <i class="ri-apps-line"></i>
                </div>
            </nav>
        </header>

        <!-- When inserting your content into sections, remove the section__height class -->
        <!--=============== HOME ===============-->

        <section class="section section__height container_until">
            <h1>GUARDADOS</h1>
            
            <div class="app_container">
              <div id="savedCardContainer" id="savedCardContainer">
                <p id="noSavedCardsMessage" style="display: none;" class="no-cards-msg">No has guardado ninguna tarjeta.</p>
              </div>
            
            
        </section>
        
        <section class="about__tutorial" id="aboutTutorial">
          <div class="about__content">
            <div class="content_area">
              
              <h2 class="title__card" id="cardTitle"></h2>
              <div class="subcontent_card">
                <h4 class="author_card" id="authorCard"> </h4> •
                <p class="duration__card" id="duration"></p><span> Min</span>
              </div><br>
              
              <div class="card_img miniature">
                <img id="aboutVideoMiniature" src="https://www.testmythumbnails.com/assets/og-image.png">
              </div>
              
              <div class="action_buttons">
                 <span class="save_button_click">Guardar <i class="ri-bookmark-line"></i></span>
                 <span class="save_button_click" id="copyCardCode">CardCode <i class="ri-clipboard-line"></i></span>
                 <span class="save_button_click" id="closeAbout">Cerrar <i class="ri-close-line"></i></span>
                 
              </div>
              <h4 class="card_description"></h4>
              <div class="link_container" id="LinkContainer"></div>
              
              <div class="cardCodeaContainer">
                <h5>CardCode: <span  id="cardCode"></span></h5></div>
              <br>
            </div>
            
          </div>
        </section>

    </main>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/savedCardScript.js"></script>
    
</body>
</html>